# Dependencias
node_modules/

# Archivos compilados de CSS y mapas
css/*.css
css/*.css.map

# Archivos temporales de SASS
.sass-cache/

# Configuración local de VSCode
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
