$headFont: "Mozilla Headline", sans-serif;
$bodyFont: "Mozilla Text", sans-serif;

//colors
$primary: #2F8FE4;
$primaryDark: #0671cf;
$secundary: #0CE793;
$secundaryDark: rgb(11, 143, 93);
$white: #fff;
$black: #000;
$red: #ff0000;
$blueLight: #d2f0fc;

//Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;